# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
/Assets/AssetBundles
*.apk
*.unitypackage
Logs

# =============== #
# IDEA generated #
# =============== #
.idea
KAssets/kparserX.jar
